#erp-integration-container {
    padding: 10px;
    min-height: 300px;
/*
    border-radius: 6px;
    box-shadow: 0px 10px 15px grey;
    background: red; */
}

.spinning-circle-error {
    display: inline-block;
    transform: translateZ(1px);
}
.spinning-circle-error > div {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: rgb(255, 80, 80);
    animation: spinning-circle-old 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

/* Spinning Circle - Loading */
.spinning-circle {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}
.spinning-circle:after {
    content: " ";
    display: block;
    width: 84px;
    height: 84px;
    margin-left: 8px;
    margin-bottom: 8px;
    border-radius: 50%;
    border: 4px solid #4caf50;
    border-color: rgba(45, 210, 30, 0) #4caf50;
    animation: spinning-circle 1.2s linear infinite;
}
@keyframes spinning-circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* SUCCESS CHECKMARK */
.success-checkmark {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 115px;
    margin-top: -57px;
    margin-left: -40px;
}
.success-checkmark .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4caf50;
}
.success-checkmark .check-icon::before {
    top: 3px;
    left: -2px;
    width: 30px;
    transform-origin: 100% 50%;
    border-radius: 100px 0 0 100px;
}
.success-checkmark .check-icon::after {
    top: 0;
    left: 30px;
    width: 60px;
    transform-origin: 0 50%;
    border-radius: 0 100px 100px 0;
    animation: rotate-circle 8.5s ease-in;
}

.success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
    content: '';
    height: 100px;
    position: absolute;
    background: #fff;
    transform: rotate(-45deg);
}
.success-checkmark .check-icon .icon-line {
    height: 5px;
    background-color: #4caf50;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
}
.success-checkmark .check-icon .icon-line.line-tip {
    top: 46px;
    left: 14px;
    width: 25px;
    transform: rotate(45deg);
    animation: icon-line-tip 1.5s;
}
.success-checkmark .check-icon .icon-line.line-long {
    top: 38px;
    right: 8px;
    width: 47px;
    transform: rotate(-45deg);
    animation: icon-line-long 1.5s;
}
.success-checkmark .check-icon .icon-circle {
    top: -4px;
    left: -4px;
    z-index: 10;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    box-sizing: content-box;
    border: 4px solid rgba(76, 175, 80, .5);
}
.success-checkmark .check-icon .icon-fix {
    top: 8px;
    width: 5px;
    left: 26px;
    z-index: 1;
    height: 85px;
    position: absolute;
    transform: rotate(-45deg);
    background-color: #fff;
}
@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
   }
    12% {
        transform: rotate(-405deg);
   }
    100% {
        transform: rotate(-405deg);
   }
}
@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
   }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
   }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
   }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
   }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
   }
}
@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
   }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
   }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
   }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
   }
}

/* Small spinner - Loading */
.small-spinner {
    width: 100%;
    height: 100px;
    position: relative;
 }
 .small-spinner:after {
     content: " ";
     position: absolute;
     display: block;
     width: 30px;
     height: 30px;
     margin: 10px;
     left: 50%;
     margin-left: -15px;
     border-radius: 50%;
     border: 3px solid #4CAF50;
     border-color: rgba(145, 210, 30, 0) #9E9E9E;
     animation: small-spinner 0.8s linear infinite;
 }
 @keyframes small-spinner {
     0% {
         transform: rotate(0deg);
     }
     100% {
         transform: rotate(360deg);
     }
 }


/* Small spinner - Loading */
.smaller-spinner {
    width: 30px;
    height: 30px;
    float: right;
}
.smaller-spinner:after {
     content: " ";
     display: block;
     width: 20px;
     height: 20px;
     border-radius: 50%;
     border: 2px solid #4CAF50;
     border-color: rgba(230, 10, 30, 0) #000000;
     animation: smaller-spinner 0.8s linear infinite;
}
 @keyframes smaller-spinner {
     0% {
         transform: rotate(0deg);
     }
     100% {
         transform: rotate(360deg);
     }
 }